@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');
html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Barlow Semi Condensed', Helvetica, Arial, sans-serif;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.cta-button {
    font-family: 'Barlow Semi Condensed', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    letter-spacing: .1em;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

/* Responsiveness */
/* Desktop */
@media screen and (min-width: 1024px) {
    .is-hidden-desktop {
        display: none;
   }
}

/* Tablet */
@media screen and (max-width: 1023px) {
    .is-hidden-tablet {
        display: none;
   }
}

/* Mobile */
@media screen and (max-width: 699px) {
    .is-hidden-mobile {
        display: none;
   }
}