.section {
    height: auto;
    width: 100%;
    padding: 2em;
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}

.section ul li {
    list-style: none;
}

/* Hero Section */
.hero {
    height: 60vh;
    width: 100vw;
    z-index: -1;
}

.hero .hero-content {
    text-align: center;
    width: 60%;
    height: 100%;
    z-index: 2;
}

.hero .hero-content h1 {
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    margin: 0;
}

.hero .hero-content p {
    font-size: 2em;
    letter-spacing: .1em;
    margin: 0;
}

.overlay {
    height: 60vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
}



/* Menu Section */
#menu .section-content {
    align-items: center;
}

#menu .menu {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

#menu .menu .menu-item {
    align-items: flex-start;
    width: 60%;
    height: 100%;
    border-radius: 24px;
    padding: 2em;
    margin: 1em 0;
}

#menu .menu .menu-item .menu-image {
    margin: 0;
}

#menu .menu .menu-item .menu-image img {
    max-height: 240px;
    border-radius: 24px;
}

#menu .menu .menu-item .menu-description {
    width: 100%;
    height: 100%;
    padding: 0 2em;
    justify-content: flex-start;
    align-items: flex-start;
}

#menu .menu .menu-item .menu-description p {
    margin: 8px;
}

#menu .menu .menu-item .item-name {
    font-size: 2em;
    font-weight: 600;
}

#menu button {
    padding: 16px 24px;
    font-size: 1.5em;
}

/* Hours */
#hours {
    text-align: center;
}

#hours .section-content {
    margin: 1em 0;
    line-height: 1.5em;
}

#hours address {
    margin: 1em 0;
    text-align: center;
}

#hours address iframe {
    width: 80%;
    height: 300px;
    border-radius: 8px;
}

/* About */
#about .about-content {
    border-radius: 24px;
    width: 60%;
    padding: 2em;
}

#about .about-content .section-content {
    text-align: center;
    align-items: center;
}



/* Mobile and Tablet */

@media screen and (max-width: 1023px) {
    .section {
        padding: 1em;
    }

    .hero .hero-content h1 {
        font-size: 3em;
    }
    
    .hero .hero-content p {
        font-size: 2em;
    }

    #menu .menu .menu-item {
        align-items: flex-start;
        padding: 1.5em;
        width: 80%;
    }

    #menu .menu .menu-item .menu-image img {
        height: 100%;
        width: 100%;
    }

    #menu .menu .menu-item .menu-description {
        text-align: center;
        padding: 0 1em;
    }

    #hours address iframe {
        height: 300px;
    }    

    #about .about-content {
        padding: 1em;
    }

}

@media screen and (max-width: 699px) {
    #menu .menu .menu-item {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    #menu .menu .menu-item .menu-description {
        align-items: center;
    }
}