.section {
    height: auto;
    width: 100%;
    padding: 2em;
}

.section-title {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}

.section-subtitle {
    text-align: center;
    font-size: 1.75em;
    margin: 0;
}

.section ul li {
    list-style: none;
}

.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -100px;
}

/* Hero Section */
.hero {
    height: 60vh;
    width: 100vw;
    z-index: -1;
}

.hero .hero-content {
    text-align: center;
    width: 60%;
    height: 100%;
    z-index: 2;
}

.hero .hero-content h1 {
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: 600;
    margin: 0;
}

.hero .hero-content p {
    font-size: 2em;
    letter-spacing: .1em;
    margin: 0;
}

.hero .hero-subtitle {
    font-weight: 600;
}

.overlay {
    height: 60vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
}



/* Menu Section */
#menu .section-content {
    align-items: center;
}

#menu .menu {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

#menu .menu .menu-item {
    align-items: flex-start;
    width: 46%;
    height: 100%;
    border-radius: 24px;
    padding: 2em;
    margin: 1em 0;
}

#menu .menu .menu-item .menu-image {
    margin: 0;
}

#menu .menu .menu-item .menu-image img {
    max-height: 240px;
    border-radius: 24px;
}

#menu .menu .menu-item .menu-description {
    width: 100%;
    height: 100%;
    padding-left: 2em;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 240px;
}

#menu .menu .menu-item p {
    margin: 8px;
    font-size: 1.3em;
    text-align: left;
}

#menu .menu .menu-item .item-name {
    font-size: 2em;
    font-weight: 600;
}

#menu .menu-item-cta {
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

#menu button {
    padding: 16px 24px;
    font-size: 1.5em;
    margin: 1em;
}

#menu .menu-item-cta button {
    font-size: 1.25em;
    padding: 8px 16px;
    margin: 0;
}

/* Hours */
#hours {
    text-align: center;
}

#hours .section-content {
    margin: 1em 0;
    line-height: 1.5em;
}

#hours address {
    margin: 1em 0;
    text-align: center;
}

#hours address iframe {
    width: 80%;
    height: 300px;
    border-radius: 8px;
}

/* About */
#about .about-content {
    border-radius: 24px;
    width: 60%;
    padding: 2em;
}

#about .about-content .section-content {
    text-align: center;
    align-items: center;
}



/* Responsive */
/* Tablet */
@media screen and (max-width: 1023px) {
    .anchor {
        display: block;
        position: relative;
        visibility: hidden;
        top: -177px;
    }

    .hero .hero-content h1 {
        font-size: 3em;
    }
    
    .hero .hero-content p {
        font-size: 2em;
    }

    #menu .menu .menu-item {
        align-items: flex-start;
        padding: 1.5em;
        width: 80%;
    }

    #menu .menu .menu-item .menu-image img {
        height: 100%;
        width: 100%;
    }

    #menu .menu .menu-item .menu-description {
        text-align: center;
        padding: 0 1em;
        min-height: 177px;
    }

    #menu .menu .menu-item p {
        font-size: 1em;
    }

    #menu .menu .menu-item .item-name {
        font-size: 1.5em;
    }

    #menu .menu-item-cta button {
        font-size: 1.1em;
        padding: 8px 16px;
        margin: 0;
    }

    #hours address iframe {
        height: 300px;
    }    

    #about .about-content {
        padding: 1em;
    }

}

/* Mobile */
@media screen and (max-width: 699px) {
    .hero {
      height: 40vh;
      width: 100vw;  
    }

    .hero .hero-content h1 {
        font-size: 2.25em;
    }

    .hero .hero-content p {
        font-size: 1.25em;
    }

    .overlay {
        height: 40vh;
    }
    #menu .menu .menu-item {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    #menu .menu .menu-item p {
        text-align: center;
    }

    #menu .menu .menu-item .menu-description {
        align-items: center;
    }

    #menu .menu-item-cta {
        justify-content: center;
        margin-top: 1em;
    }

    #menu button {
        font-size: 1.25em;
    }

    #about .about-content {
        width: 80%;
    }
}

/* Extra Small Screens */
@media screen and (max-width: 374px) {
    .section-title {
        font-size: 2em;
    }

    .hero .hero-content h1 {
        font-size: 1.75em;
    }
    
    .hero .hero-content p {
        font-size: 1em;
    }

    #menu .menu .menu-item {
        width: 100%;
    }

    #menu .menu .menu-item .menu-description .item-name { 
        font-size: 1.25em;
    }

    #menu button {
        font-size: 1em;
        margin: 1em 0;
    }

    #hours address iframe {
        width: 100%;
        height: 240px;
    }

    #about .about-content {
        width: 100%;
    }

}